@import url('Fonts.css');

:root {
  --DARK_BLUE: rgb(15, 23, 42);
  --MED_BLUE: rgb(28, 45, 85);

  --TEXT_BLUE: rgb(203,214,238);
  --FONT_SIZE: 1rem;
  --H1_FONT_SIZE: 3rem;
  --H2_FONT_SIZE: 1.25rem;
}

header {
  background-color: var(--DARK_BLUE);
}

body {
  background-color: var(--DARK_BLUE);
}

html {
  background-color: var(--DARK_BLUE);
}

h1 {
  font-size: var(--H1_FONT_SIZE);
  line-height: 1;
}

h2 {
  font-size: var(--H2_FONT_SIZE);
  line-height: 1.75rem;
  font-weight: 500;
}

p {
  font-size: var(--FONT_SIZE);
  line-height:1.5;
  
}

.App {
  background-color: var(--DARK_BLUE);
  font-family: 'NotoSansOsmanya-Regular', sans-serif;
  color: var(--TEXT_BLUE);
  padding: 1rem;
  font: var(--FONT_SIZE);
  padding: 0;
}

.App-header li {
  display: flex;
  flex-direction: column;
}
.main-body {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media (min-width: 768px) {
  .App-header {
    padding-top: 50%;
  }

  .Sticky {
    position: sticky;
    top: 0;
  }
}
